In [20]:
# Q1: How many rows and columns are contained in the dataset?
import pandas as pd
df = pd.read_csv("C:\\Users\\maina\\Downloads\\netflix_titles.csv")
print("Q1: Dataset shape (rows, columns):", df.shape)

Q1: Dataset shape (rows, columns): (8807, 12)

In [21]:
# Q2: What datatypes are contained in the dataset?
print(df.dtypes)

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [22]:
# Q3: Is the dataset complete? i.e no missing values?
print(df.isnull().sum())

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [23]:
# Q4: List the number of Movies and TV Shows among the last 20 rows

last_20 = df.tail(20)  
print(last_20['type'].value_counts())

type
Movie      15
TV Show     5
Name: count, dtype: int64

In [25]:
# Q5: Give the number of all Movies originating from South Africa
sa_movies = df[(df['country'] == 'South Africa') & (df['type'] == 'Movie')]
print("Q5: Number of Movies from South Africa:", sa_movies.shape[0])

Q5: Number of Movies from South Africa: 24

In [26]:
# Q6: What is the description of the movie in the 12th row?
description_12th = df.iloc[11]['description']
print("\nQ6: Description of the movie in the 12th row:\n", description_12th)

Q6: Description of the movie in the 12th row:
 Struggling to earn a living in Bangkok, a man joins an emergency rescue service and realizes he must unravel a citywide conspiracy.

In [27]:
# Q7: From these South African movies, list only those released in 2021
sa_movies_2021 = sa_movies[sa_movies['release_year'] == 2021]
print(sa_movies_2021[['title', 'release_year']])

                             title  release_year
293                           Slay          2021
764   Trippin' with the Kandasamys          2021
881                 I Am All Girls          2021
1172       Loyiso Gola: Unlearning          2021

In [28]:
# Q8: List the entire cast of all movies released in 2021
movies_2021 = df[(df['type'] == 'Movie') & (df['release_year'] == 2021)]
print(movies_2021[['title', 'cast']])

                                                  title  \
6                      My Little Pony: A New Generation
9                                          The Starling
12                                         Je Suis Karl
13                     Confessions of an Invisible Girl
18                                            Intrusion
...                                                 ...
1425                        Creating The Queen's Gambit
1431                                        Stuck Apart
1436  Ratones Paranoicos: The Band that Rocked Argen...
1466                       The Minimalists: Less Is Now
1468                          What Happened to Mr. Cha?

                                                   cast
6     Vanessa Hudgens, Kimiko Glenn, James Marsden, ...
9     Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...
12    Luna Wedler, Jannis Niewöhner, Milan Peschel, ...
13    Klara Castanho, Lucca Picon, Júlia Gomes, Marc...
18    Freida Pinto, Logan Marshall-Green, Robert Joh...
...                                                 ...
1425                                                NaN
1431  Engin Günaydın, Haluk Bilginer, Binnur Kaya, Ö...
1436  Juan Sebastián Gutiérrez, Pablo Cano, Pablo Me...
1466                                                NaN
1468           Cha In-pyo, Cho Dal-hwan, Song Jae-ryong

[277 rows x 2 columns]